.body-container4{
top:0;
}
.bdy-container{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.bdy-container1{
  font-size: 100px;
  margin-top: 40px;
}
.bdy-container2{
  display: flex;
  flex-direction: column;
  float: right;
  margin-left: 300px;
  font-size: 20px;
}
.desc{
  margin:10px;
}
#degree{
  font-size: 30px;
}